.nav__list{
    list-style: none;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    background-color: #002160;
}

.nav__list_link{
    text-decoration: none;
    color: #fff;
    line-height: 100%;
    text-transform: uppercase;
    margin-right: 24px;
    font-size: 14px;
}

.nav__list_link_active{
    color: #A7DAFF;
    font-weight: 800;
}